<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
    <body>
<h1>Elija producto para modificar</h1>
<form action="/Searcheditproduct" method="get">
    <h2>Buscar plato</h2>
    <input type="text" name="query">
    <input type="submit" value="Search">
  </form>
  
    </body>
</html>