<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head.ejs') %>
</head>
<body>
   <h1>Felicidades, el usuario se creo con exito</h1>
   <a href="/users/register">Quiere crear otro usuario?</a>
</body>
</html>